{% extends 'base.html' %}
{% block body %}
<style>
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 18px;
    /* Adjusted font size */
  }
</style>
<div class="me-5">
  <h1 class="text-center p-3
    ">contact US</h1>
  <form class="row g-3 m-5" method="post" action="">
    {% csrf_token %}
    <div class="col-md-6 my-2">
      <label for="inputname4" class="form-label fs-4 fw-bold">Name</label>
      <input type="text" class="form-control border border-secondary" id="inputname4" name="name" />
    </div>
    <div class="col-md-6 my-2">
      <label for="inputcontact4" class="form-label fs-4 fw-bold">contact no</label>
      <input type="text" class="form-control border border-secondary" id="contact" name="contact" />
    </div>
    <div class="col-md-6 my-2">
      <label for="inputAddress" class="form-label fs-4 fw-bold">Address</label>
      <input type="text" class="form-control border border-secondary" id="inputAddress" name="address"
        placeholder="1234 Main St" />
    </div>
    <div class="col-md-6 my-2">
      <label for="inputEmail4" class="form-label fs-4 fw-bold">Email</label>
      <input type="email" class="form-control border border-secondary" name="email" id="inputEmail4" />
    </div>
    <div class="form-check">
      <input class="form-check-input border border-secondary " name="cmo" type="checkbox" id="gridCheck" />
      <label class="form-check-label fs-4 fw-bold pd-1" for="gridCheck">Check me out</label>
    </div>
    <div class="col-md-12 my-3">
      <button type="submit" name="submit_btn" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>


</div>
{% endblock %}