{% extends "base.html" %}
{% load static %}
{% block body %}

<style>
    .errorpage {
        background-image: url("{% static 'img/404.jpeg' %}");
        background-size: cover;
        background-position: center;
        /* Additional styling for the div */
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        }
</style>
<div class="errorpage">
   <h1>OOPS! Page Not Found </h1>
   <h2>Go Back To Home Page <a href="/" ><button class="btn btn-success">Go Home</button></a></h2>
</div>
{% endblock body %}