{% extends "base.html" %}
{% load static %}
{% block body %}
<container class="productcontainer">
    <h1>Cart</h1>
    <main class="main bd-grid" id="product-container">
        <div class="container mt-5">
            <div class="table-responsive">
                {% if cart_products %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Delete Item</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in cart_products %}
                            <tr>
                                <td>
                                    <img class="card-img" src="../media/{{ product.img }}" alt="Product Image">
                                </td>
                                <td>
                                    <span class="font-weight-bold cartprodname">{{ product.name }}</span>
                                </td>
                                <td>
                                    <span class="font-weight-bold">{{ product.price }}</span>
                                </td>
                                <td>
                                    <div class="quantity-selector" style="width: 150px;">
                                        <button class="btn btn-secondary quantity-btn bg-danger decrement-btn">-</button>
                                        {% for key, value in cart_quantity.items %}
                                        {% if key == product.product_id|stringformat:"s" %}
                                        <input type="number" class="form-control quantity-input"
                                        value="{{ value }}"min="1" style="width: 70px;" id="qty-cart">
                                        {% else %}
                                        
                                    {% endif %}
                                {% endfor %}
                                        <button class="btn btn-secondary quantity-btn bg-success increment-btn">+</button>
                                    </div>
                                </td>
                                
                                <td>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                                <td>
                                    <span class="font-weight-bold">852</span>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6" class="align-self-center">
                                    <h3>Your cart is Empty</h3>
                                    <img src="{% static 'img/empty-cart.png'%}" alt="Empty Cart" style="width: 100%;">
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    
    
</container>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var incrementBtns = document.querySelectorAll('.increment-btn');
        var decrementBtns = document.querySelectorAll('.decrement-btn');

        incrementBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var input = this.parentNode.querySelector('.quantity-input');
                input.stepUp();
            });
        });

        decrementBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var input = this.parentNode.querySelector('.quantity-input');
                input.stepDown();
            });
        });
    });
</script>
{% endblock body %}