{% extends "base.html" %}
{% load static %}
{% block body %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/banner1.png'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/banner2.png'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/banner3.png'%}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<container class="productcontainer">
    <h1>Products</h1>
    <main class="main bd-grid" id="product-container">
    </main>
</container>
<script>
    fetch('/api/product/')
        .then(response => response.json())
        .then(data => {
            const productContainer = document.getElementById('product-container');
            data.forEach(product => {
                const card = document.createElement('article');
                card.className = 'card';
                card.innerHTML = `
                <a href="/product/${product.product_id}">
                    <div class="card__img">
                        <img src="${product.img}" alt="${product.name}">
                    </div>
                    <div class="card__precis">
                        <h3>${product.name}</h3>
                    </div>
                    <div class="card__name">
                        <p>${product.name}</p>
                    </div>
                    <div class="card__precis">
                        <a href="/wishlist/${product.product_id}" class="card__icon btn btn-danger"> <i class="bi bi-heart"></i></a>
                        <div>
                            <span class="card__preci card__preci--now">₹${product.price}</span>
                        </div>
                        <a href="" class="card__icon  btn btn-success"><i class="bi bi-cart-check"></i></a>
                    </div></a>
                `;
                productContainer.appendChild(card);
            });
        })
        .catch(error => console.error('Error fetching products:', error));
</script>
{% endblock body %}