{% extends 'base.html' %}
{% block body %}
<style>
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 100;
        font-size: 18px;
        /* Adjusted font size */
    }
</style>
<div class="me-5">
    <h1 class="text-center p-3">crudproduct</h1>
    <form class="row g-3 m-5" method="post" action="{% url 'crudproduct' %}">
        {% csrf_token %}
        <div class="col-md-6 my-2">
            <label for="inputname4" class="form-label fs-4 fw-bold">Product Name</label>
            <input type="text" class="form-control border border-secondary" id="inputname4" name="product_name" />
        </div>
        <div class="col-md-6 my-2">
            <label for="inputcontact4" class="form-label fs-4 fw-bold">Product ID</label>
            <input type="text" class="form-control border border-secondary" id="inputcontact4" name="product_id" />
        </div>
        <div class="col-md-6 my-2">
            <label for="inputAddress" class="form-label fs-4 fw-bold">Description</label>
            <input type="text" class="form-control border border-secondary" id="inputAddress" name="product_dict"
                placeholder="Description" />
        </div>
        <div class="col-md-6 my-2">
            <label for="inputEmail4" class="form-label fs-4 fw-bold">Price</label>
            <input type="number" class="form-control border border-secondary" name="price" id="product_price" />
        </div>
        <div class="col-md-12 my-3">
            <button type="submit" name="post" class="btn btn-primary">ADD</button>
            <button type="submit" name="put" class="btn btn-primary">UPDATE</button>
        </div>
    </form>


    <form class="row g-3 m-5" method="post" action="{% url 'delete_single_product'  %}">
        {% csrf_token %}
        <div class="col-md-6 my-2">
            <label for="inputcontact4" class="form-label fs-4 fw-bold">Product ID</label>
            <input type="text" class="form-control border border-secondary" id="inputcontact4" name="product_id" />
        </div>
        <button type="submit" name="delete_button" class="btn btn-primary">Delete</button>
    </form>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn btn-success" value="ADD">
    </form>
    <div style="margin:5rem;">
        {% for product in products %}
       <h5>name={{ product.product_name }} price={{ product.product_price }} id={{ product.product_id }}
       <button type="submit" class="btn btn-success">Edit</button>
       <form action="{% url 'deleteproduct' product.product_id %}" method="post" class="d-inline">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete">
       </form>
       
    </h5>
        {% endfor %}
    </div>


</div>
{% endblock %}